<ion-header>
	<ion-navbar>
		<ion-title>{{ dish && !dish.id ? ('ADD_DISH_TITLE' | translate) : ('EDIT_DISH_TITLE' | translate) }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openDishValidatorPage()">
				<ion-icon name="flask"></ion-icon>
			</button>
			<button ion-button icon-only (click)="done()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form" *ngIf="form">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ 'DISH_NAME' | translate }}</ion-label>
				<ion-input type="text" formControlName="name"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.name">
					<div class="error-message" *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div padding>
				<button type="button" ion-button small icon-only color="light" (click)="openFoodAddPage()">
					<ion-icon name="add"></ion-icon>
				</button>
			</div>
			<ion-item-group *ngFor="let dishPart of dish.dishPartList">
				<ion-item-divider sticky (click)="toggleDetails(dishPart)">
					<ion-grid no-padding>
						<ion-row>
							<ion-col>
								{{ dishPart.partName }}
							</ion-col>
							<ion-col text-right col-1>
								<ion-icon [name]="dishPart.icon"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item-divider>

				<ion-item-sliding no-lines *ngFor="let dishPartFood of dishPart.dishPartFoodList" [hidden]="!dishPart.showDetails">
					<ion-item no-lines>
						<h2 text-wrap>{{ dishPartFood.food.name }}</h2>
					</ion-item>
					<ion-item-options>
						<button ion-button color="danger" (click)="removeDishPartFood(dishPart, dishPartFood)">
							<ion-icon name="trash"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-item-group>
			<ion-checkbox formControlName="hasFoods" hidden></ion-checkbox>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.hasFoods">
					<div class="error-message" *ngIf="form.get('hasFoods').hasError(validation.type) && form.get('hasFoods').dirty">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</ion-list>
	</form>
</ion-content>