<ion-header>
	<ion-navbar>
		<ion-title>{{ 'CHANGE_PASSWORD_TITLE' | translate }}</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cancel()">
				<span color="primary" showWhen="ios">
					{{ 'CANCEL_BUTTON' | translate }}
				</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button (click)="done()" strong>
				<span color="primary" showWhen="ios">
					{{ 'OK_BUTTON' | translate }}
				</span>
				<ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ 'CURRENT_PASSWORD' | translate }}</ion-label>
				<ion-input type="password" formControlName="currentPassword"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.currentPassword">
					<div class="error-message" *ngIf="form.get('currentPassword').hasError(validation.type) && (form.get('currentPassword').dirty || form.get('currentPassword').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div formGroupName="passwords">
				<ion-item>
					<ion-label floating>{{ 'NEW_PASSWORD' | translate }}</ion-label>
					<ion-input type="password" formControlName="newPassword"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validationMessages.newPassword">
						<div class="error-message" *ngIf="form.get('passwords').get('newPassword').hasError(validation.type) && (form.get('passwords').get('newPassword').dirty || form.get('passwords').get('newPassword').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>

				<ion-item>
					<ion-label floating>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
					<ion-input type="password" formControlName="confirmPassword"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validationMessages.confirmPassword">
						<div class="error-message" *ngIf="form.get('passwords').get('confirmPassword').hasError(validation.type) && (form.get('passwords').get('confirmPassword').dirty || form.get('passwords').get('confirmPassword').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
			</div>
			<!-- These validations are for the form group -->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.passwords">
					<div class="error-message" *ngIf="form.get('passwords').hasError(validation.type) && (form.get('passwords').get('confirmPassword').dirty || form.get('passwords').get('confirmPassword').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</ion-list>
	</form>
</ion-content>