// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Remueve el spin box de los ion-input number.
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

.error-message {
	color: red;
	padding-left: 16px;
}

// Evita que el floating label tape el placeholder.
ion-input.floating-with-placeholder {
	input:focus::-webkit-input-placeholder {
		color: gray;
	}
	input:focus:-moz-placeholder {
		color: gray;
	}
	input:focus::-moz-placeholder {
		color: gray;
	}
	input:focus:-ms-input-placeholder {
		color: gray;
	}
	input::-webkit-input-placeholder {
		color: transparent;
	}
	input:-moz-placeholder {
		color: transparent;
	}
	input::-moz-placeholder {
		color: transparent;
	}
	input:-ms-input-placeholder {
		color: transparent;
	}
}

.ios {
	hr {
		height: 1px;
	}
}

.force-back-button .back-button {
	display: inline-block;
}

ion-item-divider {
	border-top: 1px solid color($colors, _gray);
	border-bottom: 1px solid color($colors, _gray);
}

/*
.col {
	background: gray;
	border: think solid black;
}
*/
