<ion-header>
	<ion-navbar>
		<ion-title>{{ 'LIST_MENU_TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openMenuSavePage()">
				<ion-icon name="add"></ion-icon>
			</button>
			<button ion-button icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="getDietTypesByCoachId($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list>
		<ion-item-group *ngFor="let dietType of (filteredDietTypeList ? filteredDietTypeList : [])">
			<ion-item-divider sticky (click)="toggleDetails(dietType)">
				<ion-grid no-padding>
					<ion-row>
						<ion-col>
							{{ dietType.name }}
						</ion-col>
						<ion-col text-right col-1>
							<ion-icon [name]="dietType.icon"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item-divider>

			<ion-item-sliding *ngFor="let menu of dietType.menuList" [hidden]="!dietType.showDetails">
				<button ion-item no-lines (click)="openMenuDetailPage(menu)">
					<h2>{{ menu.name }}</h2>
				</button>
				<ion-item-options>
					<button ion-button color="danger" (click)="deleteMenu(menu)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group>
	</ion-list>
</ion-content>